.contact-card-container {
  margin-top: 50px;
}

.contact-card {
  padding: 20px;
}
.contact-card > h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.contact-card > h5 {
  margin-bottom: 2px;
}
.contact-card > p {
  font-size: 0.9rem;
}
.contact-card:last-child {
  margin-left: 10px;
}
